= form_for @articletype do |f|
  - if @articletype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@articletype.errors.count, "error")} prohibited this articletype from being saved:"
      %ul
        - @articletype.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
